{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Rating: {{ game.Rating }}</p>
        <p>Description: {{ game.description }}</p>
        <p>Release Year: {{ game.release_year }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_playtime' game.id %}" method="post">
      {% csrf_token %}
      {{ playtime_form.as_p }}
      <input type="submit" class="btn" value="Add Playtime">
    </form>
    <br>
    {% if game.played_today %}
      <div class="card-panel teal-text center-align">You have played {{ game.name }} today</div>
    {% else %}
      <div class="card-panel red-text center-align">You might want to play {{ game.name }} today</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Last Played</th><th>Time Played</th></tr>
      </thead>
      <tbody>
        {% for playtime in game.playtime_set.all %}
          <tr>
            <td>{{playtime.last_played}}</td>
            <td>{{playtime.get_length_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>

const dateEl = document.getElementById('id_last_played');
M.Datepicker.init(dateEl, {
  format: 'yyyy-mm-dd',
  defaultDate: new Date(),
  setDefaultDate: true,
  autoClose: true
});

const selectEl = document.getElementById('id_length');
M.FormSelect.init(selectEl);

</script>

{% endblock %}